* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    overflow-x: hidden;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

footer p {
    margin: 0;
}

.main-container {
    min-height: calc(100vh - 106px);
}